* {
  background-color: #282c34;

}

.App {
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-size: 12pt;
  margin: 30px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-flow: column;
}

.fact {
  margin: 0 50px;
  display: relative;
  top: 20px;
}

img {
  height: 100px;
  width: 100px;
  position: absolute;
}

img:hover {
  rotate: 20deg;
}

img.elephant {
  bottom: 50px;
  right: 40px;
}

img.alligator {
  top: 0;
  left: 30px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

img.giraffe {
  top: 30px;
  right: 0px;
}